body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(202, 202, 202);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.logo {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-flow: column;
  gap: 10px;
  margin-left: 47px;
}

.monster {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tracker-main {
  margin: 50px;
}

.tracker-monster {
  margin-top: 20px;
}

.input-calc {
  width: 40px;
}

.monster-row {
  display: grid;
  grid-template-columns: 37px 142px 146px auto;
  gap: 8px;
  align-items: center;
}

.form-monster .input-name {
  width: 110px;
}

.form-monster .input-init {
  width: 110px;
}

.form-monster .input-hp {
  width: 110px;
}

.form-player .input-name {
  width: 168px;
}

.form-player .input-init {
  width: 168px;
}

.monster-input input {
  width: 120px;
  border-width: 1px;
  border-radius: 5px;
  margin-right: 2px;
}

.player-input input {
  width: 120px;
  background-color: rgb(225, 243, 216);
  border-width: 1px;
  border-radius: 5px;
  margin-right: 2px;
}

.btn-delete {
  border-width: 1px;
  border-radius: 36%;
  margin: 2px;
}

.btn-choice {
  margin: 20px 50px;
  display: flex;
  gap: 5px;
}

.selected {
  background-color: #5f5f5f;
}

.btn-choice button {
  width: 75px;
}
