body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(202, 202, 202);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.logo {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  justify-content: center;
}

.monster {
  display: flex;
  gap: 10px;
}
.tracker-main {
  margin: 50px;
}

.tracker-monster {
  margin-top: 20px;
}

.input-calc {
  width: 40px;
}

.monster-row {
  display: grid;
  grid-template-columns: 32px 140px 140px auto;
  gap: 8px;
  align-items: center;
}
